@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
:root {
    --verde: #49a09d;
    --lilas: #5f2c82;

}

/* Typical Device Breakpoints
        Pequenas telas: até 600px
        Celular: de 600px até 768px
        Tablet : 768px até 992px
        Desktop: 992px até 1200px
        grandes telas: acima de 1200px
*/

/*Conf para Tablet*/
@media screen and (min-width:768px) and (max-width:992px){
    body,html{
        background-image: linear-gradient(to top,var(--verde),var(--lilas));
    }
   #login{
    width: 80vw;
   }
   #imagem{
    float: left;
    width: 30%;
    height: 100%;
   }
   #formulario{
    float: right;
    width: 70%;
   }
}

@media screen and (min-width:992px){
    body,html{
        background-image: linear-gradient(to top,var(--verde),var(--lilas));
    }
    #login{
        width: 950px;
    }
    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
       }
}