@charset "UTF-8";
/*
    em HTML é (id) = em CSS é (#)
    em HTML é (class) = em CSS é (.)

    obs: Não se usa Id para configurar dos elemrntos (teg), Se usa a class.
    obs: o nome das classe devem ser dada pela sua funcionalidade.
    obs: nao colocar acentuação nos nomes das class e id
    obs: pode se usar mais de uma class em um elemento (teg)
    obs: pode usar um id e uma classe no memso elemento (teg)

    
*/


body {
    background-color: rgb(180, 223, 138);
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
h1 {
    font-weight: bold;
}

.basico {

    color: rgb(36, 253, 7);
}

.destaque{
    background-color: rgb(111, 206, 111);
    font-weight: bolder;
}

.intermediario {
    color: rgb(228, 213, 6);
}

.avancado {
    color: rgb(228, 4, 4);
}