
/*declaração geral*/

@media all {
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: #233eff;
            color: white;
            width: 100vw;
            height: 100vh;  
        }
}
    /*declarações retrato*/
    @media screen and (orientation: portrait){
        body{
            background-image: url(imagem/cev-portrait.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center bottom;
        }
    }
    
    /*declaraçoes paisagem*/
    @media screen and (orientation: landscape){
        body{
            background-image: url(imagem/cev-landscape.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left bottom;
            }
    }