@charset "UTF-8";

/* Estilo retrato*/
body{
    background-image: url(../imagem/cev-portrait.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        
}